#about:before,
#features:before,
#profits:before,
#bros:before,
#more:before,
#gmap:before,
#contact:before {
    display: block;
    content: "";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
}

.navbar {
    background-image: linear-gradient(to bottom, #3D9199, #14bbcc);
}

.nav.navbar-nav.navbar-right li a {
    color: #002a80;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 15px;
    text-shadow: 1px 1px 1px #000;
    transition: .4s ease-in-out;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: #ff404c;
    transition: .4s ease-in-out;
}

.nav.navbar-nav.navbar-right li a:focus {
    color: #002a80;
    transition: .4s ease-in-out;
}

.navbar-header a:hover {
    /* change after full refactor */
    font-size: 20px;
    color: #cc147b;
    text-decoration: none;
}

.icon-bar {
    background-color: black;
}

.top-content {
    margin-top: 45px;
}

.background-slide {
    width: 100%;
    background-color: #3D9199;
    /* background-size: cover;
    position: relative;
    box-sizing: border-box; */
}

#slideshow {
    position: relative;
}

#slideshow img {
    width: 100%;
    filter: blur(3px);
    mix-blend-mode: luminosity;
}


span.ilya {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000; */
}

span.dot {
    /* font-family: 'Code-Pro-Black-LC', serif;
    font-size: 120px;
    font-weight: 900;
    color: #ff404c;
    text-shadow: 1px 1px 1px #000; */
}

span.intro {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 200;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000; */
}

.greetings:after {
    /* content: '';
    color: #fff;
    width: 6px;
    height: 104px;
    box-shadow: 1px 1px 1px #000;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px; */
}



span.mail {
    font-family: 'Sequel', serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    float: left;
    background-color: #ff404c;
    padding: 5px;
}

span.place {
    font-family: 'Sequel', serif;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.greetings span {
    position: relative;
    top: 28px;
}

.greetingsInfo span {
    position: relative;
    margin: 5px;
    top: 28px;
}

.presentbl div {
    display: inline-block;
    position: relative;
}

.presentbl {
    text-align: center;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 10;
}

.present-text {
    /* font-size: 25px;
    text-align: center;
    color: #ffffff;
    font-family: Calibri, serif;
    display: block !important;
    margin-top: 40px;
    line-height: 28px;
    padding-bottom: 102px;
    text-shadow: 2px 1px 1px #000; */
}

.present-text:after {
  /*   content: "\f06b";
  text-shadow: 1px 1px 10px #000;
  box-shadow: 1px 1px 1px #000;
  font: normal normal normal 14px/1 FontAwesome;
  display: block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
  color: #fe1313;
  width: 50px;
  height: 50px;
  border: solid 2px #ff0000;
  border-radius: 50%;
  line-height: 45px;
  font-size: 27px;
  margin: 0 auto; */
}

a.btn-top {
    /* font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #3D9199;
    width: 340px;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 1px 1px 3px #ff0000;
    transition: .8s ease-in-out; */
}

.fa-space-shuttle {
    /* font-size: 15px;
    padding: 5px;
    text-shadow: 1px 1px 1px #ff0000; */
}

a.btn-top:hover, a.btn-top:focus {
    /* font-size: 15px !important;
    color: #ffffff;
    background-color: #ff404c;
    transition: .8s ease-in-out;
    box-shadow: 1px 1px 1px #000; */
}

.top-btn a {
    /* text-decoration: none !important; */
}

.predict-wrap {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.predict-first {
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

.predict-first > div {
    width: 49%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-top: 26px;
}

.predict-first-left {
    vertical-align: top !important;
}

.predicts-title {
    margin-bottom: 50px;
    padding-top: 20px;
}

.pred-title {
    font-size: 50px;
    color: #ff404c;
    text-shadow: 1px 1px 1px #0e0e0e;
}

.first-predict {
    font-size: 25px;
    color: #3D9199;
    text-shadow: 1px 1px 1px #0e0e0e;
    display: block;
    line-height: 25px;
}

.second-predict {
    font-size: 25px;
    color: #3D9199;
    text-shadow: 1px 1px 1px #0e0e0e;
    display: block;
    line-height: 25px;
}

.third-predict {
    font-size: 25px;
    color: #3D9199;
    text-shadow: 1px 1px 1px #0e0e0e;
    display: block;
    line-height: 25px;
}

.yoda-pic > img {
    width: 95%;
    position: relative;
    box-shadow: 1px 1px 1px #ff404c;
}

.predict-second {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
}

.predict-second > div {
    width: 49%;
    text-align: left;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-top: 26px;
}

.suggestions {
    margin-left: 20px;
}

#slideshow-pred img {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

#slideshow-pred .bg-pred {
    position: relative;
    box-sizing: border-box;
}

.predict-second-right {
    vertical-align: top !important;
}

.predict-second-right > div {
    text-align: center;
}

.suggest-title {
    font-size: 45px;
    color: #ff404c;
    text-shadow: 1px 1px 1px #000;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 40px;
}

.suggestions > span {
    font-size: 25px;
    display: block;
    line-height: 28px;
    color: #1f6377;
    text-shadow: 1px 1px 1px #000;
}

.suggestions > span > a, a:hover {
    font-size: 20px;
    color: #cc147b;
    text-decoration: none;
}

.sud-content {
    margin: 20px auto;
    width: 99%;
    background-image: linear-gradient(to bottom, #E0FFFF, #00ff87);
    box-shadow: 1px 1px 10px #000;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid black;
}

.sud-content > div {
    display: inline-block;
}

.sud-contact-text {
    font-size: 45px;
    color: #3D9199;
    line-height: normal;
    text-shadow: 1px 1px 1px #000;
}

.sud-contact-text > span {
    float: none;
    margin: 0 auto;
    color: #ff404c;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
}

.sud-avatar {
    display: block;
}

.sud-avatar > img {
    border-radius: 50%;
    width: 250px;
    margin: 30px;
    box-shadow: 1px 1px 10px #000;

}

.sud-contact {
    text-align: center;
    vertical-align: middle;
}

a.btn-sud {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #3D9199;
    width: 340px;
    margin: 30px;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 1px 1px 3px #ff0000;
    transition: .8s ease-in-out;
}

.fa-space-shuttle {
    padding: 5px;
    text-shadow: 1px 1px 1px #ff0000;
}

a.btn-sud:hover {
    color: #ffffff;
    font-size: 15px;
    background-color: #ff404c;
    transition: .8s ease-in-out;
    box-shadow: 1px 1px 1px #000;
}

.sud-contact-btn a {
    text-decoration: none !important;
}

.features-cases {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.feature {
    margin: 20px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 230px;
    box-shadow: 0 2px 23px 0 #000;
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 20px;
    line-height: normal;
    position: relative;
    margin-left: auto !important;
    margin-bottom: 35px;
    text-align: left;
    background-image: linear-gradient(to bottom, #fff, #E0FFFF);

}

.feature::before {
    content: '';
    display: inline-block;
    width: 140px;
    height: 100%;
    background-image: linear-gradient(to bottom, #14bbcc, #3d9199);
    position: absolute;
    left: 0;
    top: 0;
}

.feature::after {
    content: '';
    display: inline-block;
    width: 140px;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    background: no-repeat center center;
}

.feature.pblock1::after {
    background-image: url(../pic/features/pic1.png);
}

.feature.pblock2::after {
    background-image: url(../pic/features/pic2.png);
}

.feature.pblock3::after {
    background-image: url(../pic/features/pic3.png);
}

.feature.pblock4::after {
    background-image: url(../pic/features/pic4.png);
}

.feature.pblock5::after {
    background-image: url(../pic/features/pic5.png);
}

.feature.pblock6::after {
    background-image: url(../pic/features/pic6.png);
}

.fa-arrow-right:before {
    content: "\f061";
}

.feature > div > b {
    color: #ff404c;
}

.feature > div > a, a:hover {
    text-decoration: none;
    font-size: 20px;
}

.feature div {
    font-size: 17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}

.employer-benefits {
    position: relative;
    border-right: 6px solid #002a80;
    padding: 40px 60px 50px;
    text-align: center;
    width: 48.717948717948715%
}

.employee-benefits {
    position: relative;
    padding: 40px 60px 50px 50px;
    display: block;
    text-align: center;
}

.profits-content {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 20px;
}

.profit {
    font-size: 20px;
    text-align: left;
    color: #000000;
    padding-left: 30px;
    margin: 30px 0;
    position: relative;
    max-width: 100%;
}

.profit-eat {
    display: inline-block;
}

.pict-profit::after {
    content: '';
    display: inline-block;
    width: 90px;
    height: 64px;
    z-index: 10;
    position: absolute;
    right: 10%;
    top: -20px;
    background: no-repeat center center;
}

.profit.pict-profit::after {
    background-image: url(../pic/profits/eat-min.png);
    background-size: 90px 64px;
}

.profits-content .modname {
    position: relative;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 10px;
    text-shadow: 1px 1px 20px #3D9199;
    color: #000;
    line-height: 72px;
}

.span6 {
    position: relative;
}

.profits1 {
    min-height: 420px;
}

.profits2 {
    min-height: 420px;
}

.profit i {
    position: absolute;
    left: 0;
    top: -4px;
    font-size: 22px;
    text-align: left;
    color: #000000;
    font-style: normal;
    font-weight: 900;
    text-shadow: 1px 1px 20px #ff404c;
}

.bros-title {
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 10px;
    text-shadow: 1px 1px 20px #3D9199;
}

.bros-title > div {
    display: inline-block;
}

.bros-title img {
    width: 64px;
    height: 50px;
    vertical-align: middle;
    border-radius: 25%;
}

.bros-wrap {
    text-align: center;
}

.bro {
    margin: 20px;

}

.bro img {
    border-radius: 25%;
    box-shadow: 1px 1px 8px #000;
    padding: 10px;
}

.bros-wrap > div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.bro-descr {
    min-height: 254px;
    width: 400px;
}

.bro-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-shadow: 1px 1px 20px #ff404c;
    padding-bottom: 20px;
}

.slick-wrap {
    position: relative;
    margin: 0 auto;
}

.bro-text {
    font-size: 20px;
}

.bro-descr > div > a, a:hover, a:focus {
    text-decoration: none !important;
    font-size: 20px;
}

.more-cases {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.more {
    margin: 20px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 230px;
    box-shadow: 0 2px 23px 0 #000;
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 20px;
    line-height: normal;
    position: relative;
    margin-left: auto !important;
    margin-bottom: 35px;
    text-align: left;
    background-image: linear-gradient(to bottom, #fff, #E0FFFF);

}

.more::before {
    content: '';
    display: inline-block;
    width: 140px;
    height: 100%;
    background-image: linear-gradient(to bottom, #14bbcc, #3d9199);
    position: absolute;
    left: 0;
    top: 0;
}

.more::after {
    content: '';
    display: inline-block;
    width: 140px;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    background: no-repeat center center;
}

.more.mblock1::after {
    background-image: url(../pic/more/pic1.png);
}

.more.mblock2::after {
    background-image: url(../pic/more/pic2.png);
}

.more.mblock3::after {
    background-image: url(../pic/more/pic3.png);
}

.more.mblock4::after {
    background-image: url(../pic/more/pic4.png);
}

.more.mblock5::after {
    background-image: url(../pic/more/pic5.png);
}

.more.mblock6::after {
    background-image: url(../pic/more/pic6.png);
}

.more > div > b {
    color: #ff404c;
}

.more > div > a, a:hover {
    text-decoration: none;
    font-size: 20px;
}

.more div {
    font-size: 17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}

.gmap-content > iframe {
    width: 100%;
    height: 450px;
}

.contact-content {
    margin: 20px auto;
    width: 99%;
    box-shadow: 1px 1px 10px #000;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, #E0FFFF, #3D9199);
    border: 1px solid #000;
}

.contact-content > div {
    display: inline-block;
}

.contact-text {
    font-size: 45px;
    color: #3D9199;
    line-height: normal;
    text-shadow: 1px 1px 1px #000;
}

.contact-text > span {
    float: none;
    margin: 0 auto;
    color: #ff404c;
    font-weight: bold;
    text-shadow: 1px 1px 10px #000;
}

.contact-avatar {
    display: block;
}

.contact-avatar > img {
    border-radius: 50%;
    width: 250px;
    margin: 30px;
    box-shadow: 1px 1px 10px #000;

}

.contact {
    text-align: center;
    vertical-align: middle;
}

.contact-text > span > a, a:hover {
    font-size: 35px;
    color: #0e90d2;
    text-decoration: underline;
}

#contact-mail {
    color: #ff404c;
    text-shadow: 1px 1px 5px #000;
}

#contact-phone {
    color: #ff404c;
    text-shadow: 1px 1px 5px #000;
}

#contact-phone::before {
    content: "☎";
    color: #ff404c;
}

#contact-mail::before {
    content: "✉";
    color: #ff404c;
}

.social-links a > img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin: 5px;
    border-radius: 25%;
    box-shadow: 1px 1px 10px #000;
}

.meta-box {
    position: relative;
}

.meta-box > div {
    display: inline-block;
    line-height: 60px;
}

.copyring {
    float: left;
}

.name-f {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ff404b;
}

.f-year {
    float: right;
}

.social-links {
    padding: 0 30% 0 30%;
}

#footer {
    background-image: linear-gradient(to bottom, #E0FFFF, #3D9199);
    border: 1px solid #000;
}


