@charset "UTF-8";
/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 5vw;
    height: 5vw;
    z-index: 99;
    font-weight: bold;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    border: none;
    outline: none;
    background: #ff404c;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #000;
}

.slick-prev:hover,
.slick-next:hover {
    outline: none;
    background: ##ff404c;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0 10px #FFDD5E;
    transition: .8s ease-in-out;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    opacity: 1;
    font-size: 5vw;
    transition: .8s ease-in-out;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick', serif;
    font-size: 4vw;
    line-height: 0.5;
    color: #002a80;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 25vw;
    top: 12vw;
}

.slick-prev:before {
    content: '‹';
}

[dir='rtl'] .slick-prev:before {
    content: '›';
}

.slick-next {
    right: 25vw;
    top: 12vw;
}

.slick-next:before {
    content: '›';
}

[dir='rtl'] .slick-next:before {
    content: '‹';
}
